.lpd-product-meta {
    border-bottom: 2px dashed #ebebeb;
    padding: 10px 20px;
    min-height: 53px;
    position: relative;
}

.product-item.product-sku {
    font-size: 11px;
    color: #959595;
    position: absolute;
    right: 6px;
    top: 38px;
    background-color: #ddd;
    border: 1px #ddd solid;
}


.navigation {
    margin: 25px 0;
}

.navigation:after {
    clear: both;
    display: block;
    content: "";
}

.pages {
    text-align: left;
}

.pages span, .pages a:hover, .page_next-prev {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.pages span, .pages a {
    color: inherit;
    display: inline-block;
    position: relative;
    padding: 7px 7px;
    min-width: 22px;
    height: 35px;
    line-height: 22px;
    text-align: center;
    text-decoration: none !important;
    font-weight: bold;
}

.pages span {
    color: #399;
}

.pages a:hover {
    color: #fff;
    background-color: #3394e6;
}

.pages span {
    color: #3394e6;
}

.page_next-prev {
    float: right;
    height: 36px;
}

.page_next-prev * {
    float: left;
}

.page_next-prev .icon {
    width: 32px;
    height: 20px;
    fill: #d7d7d7;
}

.page_next-prev > span > a:hover .icon {
    fill: #0c5f7eed;
}

.page_next-prev > span > * {
    float: left;
    padding: 8px 12px;
}

.page_next > span, .page_prev > span {
    opacity: 0.5;
}

.price_row > td {
    text-align: center;
    line-height: 16px;
}

.price_row > .td_name {
    text-align: left;
}

.table1 {
    border-collapse: collapse;
    color: #08141c;

}

th {

    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #eeeeee;
}

.accordion1 {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 0.7rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: var(--bs-primary-bg-subtle)
}


.list-group1 {
    --bs-list-group-color: var(--bs-body-color);
    --bs-list-group-bg: var(--bs-body-bg);
    --bs-list-group-border-color: var(--bs-border-color);
    --bs-list-group-border-width: var(--bs-border-width);
    --bs-list-group-border-radius: var(--bs-border-radius);
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.1rem;
    --bs-list-group-action-color: var(--bs-secondary-color);
    --bs-list-group-action-hover-color: var(--bs-emphasis-color);
    --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
    --bs-list-group-action-active-color: var(--bs-body-color);
    --bs-list-group-action-active-bg: var(--bs-secondary-bg);
    --bs-list-group-disabled-color: var(--bs-secondary-color);
    --bs-list-group-disabled-bg: var(--bs-body-bg);
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #0d6efd;
    --bs-list-group-active-border-color: #0d6efd;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: var(--bs-list-group-border-radius);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown-button  {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
}
.custom-dropdown-button:hover {
    color: black; /* Оставляем текст черным при наведении */
}
.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 1px;
    border-radius: 5px;
    margin-left: -221px;
    margin-top: 10px;
}

.custom-dropdown-content form {
    display: block;
}

.custom-dropdown-content a {
    color: black;
    text-decoration: none;
}

.custom-dropdown-content a:hover {
    color: #007bff;
}

.show {
    display: block;
}

.user-dropdown {
    position: relative;
    display: inline-block;
}

.user-dropdown .nav-link {
    cursor: pointer; /* Указатель при наведении */
}

.user-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 1px;
    border-radius: 5px;
    margin-left: -221px;
    margin-top: 10px;
}

.user-dropdown-content .dropdown-item {
    color: black; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
}

.user-dropdown-content .dropdown-item:hover {
    color: #007bff; /* Цвет текста при наведении */
}

.show {
    display: block; /* Отображение содержимого при наличии класса show */
}
