.fa {
    font-size: 0.7em;
}

.cursor-pointer {
    cursor: pointer;
}

.react_admin .form-control {
    border: var(--bs-border-width) solid #d9dee3;
}

.products-page-gallery .product-page-gallery-main .slick-prev,
.products-page-gallery .product-page-gallery-main .slick-next {
    top: 50%;
    position: absolute;
    line-height: 48px;
}

.product-image .art-tag {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgb(202 202 202 / 34%);
    color: #000;
    padding: 3px;
    border-radius: 6px;
    z-index: 2;
    box-shadow: 1px 1px 20px 0px #000000;
}